@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1642320122555') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-beikongshuiwupingtaimenhu-tubiao_juhechaxunfuwu:before {
  content: "\e62a";
}

.icon-shejiaotubiao-48:before {
  content: "\e648";
}

